<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Bet Bodied</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Introducing our new workout app powered by ChatGPT! With this innovative technology, you can have a personalized workout experience like never before. Simply chat with our intelligent algorithm to receive customized workout plans tailored to your fitness level, goals, and preferences. Say goodbye to generic workout routines and hello to a personalized fitness journey. Start achieving your fitness goals today with our workout app powered by ChatGPT!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%# <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign up</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign in</button> %>
      </div>
    </div>
  </div>
